<h2 class="panel"><b>Welcome to Administrator panel</b></h2>

<ol>
    <li>
        <b> <span class="login">User login </span>
            <span class="rights">Administrator rights</span>
            <span class="options">Details</span>
        </b>
            
    </li>
    <li *ngFor = "let user of myUsersArray"  >
        {{user.login}} <span> <button class="details" (click)="showDetails(user)">
            <mat-icon>open_in_new</mat-icon></button></span>
            <span class="admin" [ngClass]="{true: user.isAdmin === true, false: user.isAdmin === false}" *ngIf="user.isAdmin === true">YES</span>
            <span class="admin" [ngClass]="{true: user.isAdmin === true, false: user.isAdmin === false}" *ngIf="user.isAdmin === false">NO</span>


    </li>
</ol>



<router-outlet></router-outlet>

