ol {
    list-style-type: none;
    width: 650px;
    margin-top: 25px;
}

li {
    border: 1px solid lightgray;
    padding: 15px;
}
.admin {
    width: 100px;
    padding-bottom: 15px;
    float: right;
    margin-right: 90px;
}

.change {
    margin-left: 10px;
}

.adminButton {
    background-color: white;
    border: none;
}

.details {
    float: right;
    background-color: white;
    border: none;
}

.true {
    color: green;
}

.false {
    color: red;
}

.login {
    margin-left: 5px;
}

.rights {
    margin-left: 240px;
    width: 200px;
    padding-bottom: 15px;
}

.options {
    float: right;
}

.panel {
    text-align: center;
}



