.fields {
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.createButton{
    width: 140px;
    border: none;
    background-color: white;
}

.createButton :hover{
    color: #36454f;
}

.signButton{
    width: 100px;
    background-color: #36454f;
    color: white; 
}