<h2 style="text-align:center"><b>Create an account</b></h2> <br>

<form >
    <input type="text" class="fields" name="login" placeholder="Login" [(ngModel)]="user.login">  <br><br>
    <input type="password" class="fields" name="password" placeholder="Password" [(ngModel)]="user.password"> <br><br>
    <br>
    <mat-button-toggle class="registerButton" (click)="createAccount(user)">Create</mat-button-toggle> &nbsp;  <mat-button-toggle class="resetButton">Reset</mat-button-toggle>
</form>

<router-outlet></router-outlet>
