.fields {
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.error{
    color: red;
    font-size: 10px;
}

.registerButton, .resetButton{
    width: 100px;
    background-color: #36454f;
    color: white;
}


