<h2 style="text-align:center"><b>Add new post</b></h2><br>
<form [formGroup]="registerForm">
    <input type="text" class="inputAdd" placeholder="Write title here..." [(ngModel)]="post.title" formControlName="title"
        [ngClass]="{'is-invalid': submitted && f.title.errors}"> 
        <div *ngIf="submitted && f.title.errors">
            <div *ngIf="f.title.errors.required" class="error">To pole jest wymagane!</div>
        </div><br><br>
    <input type="text" class="inputAdd" placeholder="Write content here..." [(ngModel)]="post.content" formControlName="content"
    [ngClass]="{'is-invalid': submitted && f.content.errors}" >
    <div *ngIf="submitted && f.content.errors">
        <div *ngIf="f.content.errors.required" class="error">To pole jest wymagane!</div>
    </div> <br><br>
    <mat-button-toggle (click)="addPost(post)" class="buttonAdd">Add</mat-button-toggle>
</form>

<router-outlet></router-outlet>