.inputAdd{
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 15px;
    display: block;
}

.buttonAdd{

    width: 100px;
    background-color: #36454f;
    color: white;
    margin-top: 15px;
}

.error{
    color: red;
    font-size: 10px;
}