
<!--
    <mat-list *ngFor="let post of myPostsArray | paginate: { id: 'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
    <mat-list-item >
         <button class="listButton" (click)="showDetails(post)" >
            <mat-icon>favorite_border</mat-icon> &nbsp;
            {{post.title}} &nbsp; <span class="created">{{post.created}}</span>
         </button>
    </mat-list-item> 
</mat-list>

<div style="margin-top: 20px; text-align: center">
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
    </pagination-controls>
</div>
-->

<mat-table [dataSource]="myPostsArray" class="mat-elevation-z8" >
    <ng-container matColumnDef="title" *ngFor="let post of myPostsArray">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let element ">
            <button class="listButton" (click)="showDetails(post)" >
                <mat-icon>favorite_border</mat-icon> &nbsp;
                {{element[post.title]}}
            </button>
        </mat-cell>
    </ng-container> 
    <ng-container matColumnDef="created" *ngFor="let post of myPostsArray">
        <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="created">{{element[post.created]}}</span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>



<router-outlet></router-outlet>
