.listButton{
    width: 500px;
    text-align: left;
    background-color: white;
    border: none;
}

.created{
    font-size: 8px;
    color: gray;
}

table{
    width:100%;
}

.row {
  background-color: white;
  border: none;
  margin-left: 0px;
}

.row :hover{
    background-color: white;
    border: none;
    margin-left: 0px;
    color:grey;
  }

  .edit {
    background-color: white;
    border: none;
    margin-left: 20px;

  }
  
  .edit :hover{
      background-color: white;
      border: none;
      margin-left: 0px;
      color:grey;
    }

    .delete {
      background-color: white;
      border: none;
      margin-left: 0px;
  
    }
    
    .delete :hover{
        background-color: white;
        border: none;
        margin-left: 0px;
        color:grey;
      }