.listButton{
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
}


table{
    width: 100%;
}


.options{
    background-color: white;
    border: none;
    margin-left: 5px;
}

.options :hover{
    background-color: white;
    border: none;
    margin-left: 0px;
    color:#36454f;
}

li {
  border: 1px solid lightgray;
  padding: 15px;
}

ol {
  list-style-type: none;
}

.frame {
  float: right;
}


.created{
  font-size: 10px;
  color: #36454f;
}

.arrows {
  background-color: white;
  border: none;
}